<div class="items_search_main">
   <%#= form_with model: @item, id: 'new_post', local: true do |f| %>






<%= link_to(new_item_path, class: 'create_btn') do %>
  <span class='create_btn_text'>付属品の登録</span>
<% end %>

</div>