

/* フォームコンテナ */
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
  margin: 0 auto;
}

.shared_links {
  text-align: center;
}

a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

/* フォームタイトル */
h2 {
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
  -webkit-text-stroke: 1px #FFF;
  color: #4682b4;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ラベルと入力フィールド */
.field {
  margin-bottom: 15px;
}

.field-label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.select-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
  width: 300px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

/* ラジオボタンのスタイル */
.radio-item {
  display: inline-block;
}

.color-1 label {
  color: red;
}

.color-2 label {
  color: blue; 
}

.color-3 label {
  color: green; 
}

.color-4 label {
  color: orange; 
}

.color-5 label {
  color: purple; 
}

.color-6 label {
  color: black; 
}


/* ボタンのスタイル */
.actions {
  text-align: center;
}

input[type="submit"] {
  background-color: #4682b4;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #00bfff;
}

/* エラーメッセージのスタイル */
#error_explanation {
  border: 1px solid #ebccd1;
  color: #a94442;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}

#error_explanation h2 {
  margin: 0 0 10px;
}

#error_explanation ul {
  list-style-type: none;
  padding-left: 0;
}

#error_explanation li {
  margin-left: 0;
}

/* 戻るボタンの要素 */
.return_btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.0em;
  transition: 0.4s ease;
  filter: invert(39%) sepia(26%) saturate(464%) hue-rotate(164deg) brightness(93%) contrast(90%);
}

.return_btn:hover {
  transform: scale(1.3);
}

/* カーソルを重ねる要素 */
.return_target {
  position: relative;
  cursor: pointer;
}

/* ツールチップのテキスト */
.return_text {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  display: inline-block;
  padding: 5px;
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 1.3;
  background: #4682b4;
  color: #fff;
  border-radius: 3px;
  transition: 0.3s ease-in;
}

/* ホバー時にツールチップの非表示を解除 */
.return_target:hover .return_text {
  opacity: 1;
  visibility: visible;
}