/* 共通用 */
html, body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
}

.items-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.item-box {
  width: 90%;
  max-width: 800px;
  margin-bottom: 16px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: visible;
}

.swiper-slide img {
  object-fit: cover;
  border-radius: 4px;
  display: block;
  background-color: white;
}

.item-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: visible;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 8px;
  color: #555;
}

p {
  margin: 4px 0;
  font-size: 1rem;
  color: #555;
}


.item-box p:last-of-type {
  margin-bottom: 0;
}

.item-status {
  width: 80px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

.used-status {
  color: white;
  background-color: #FF6347;
}

.unused-status {
  color: white;
  background-color: #50c878;
}


/* スマホ用スタイル（縦向き） */
@media (max-width: 600px) and (orientation: portrait) {

  .item-box {
    width: 100%;
    padding: 10px;
  }

  .swiper-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    width: 100% !important;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: white;
  }

  .swiper-slide img {
  height: auto;
  }  

  .swiper-pagination {
    position: absolute;
    bottom: -10px;
    width: 100px;
    text-align: center;
    z-index: 10;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }

  .item-status {
    width: 70px;
    padding: 4px;
  }

}

/* タブレット用スタイル（縦向き） */
@media (min-width: 601px) and (max-width: 1024px) and (orientation: portrait) {

  .item-box {
    width: 75%;
    padding: 14px;
  }

  .swiper-container {
    all: unset;
  }

  .swiper-wrapper {
    display: flex;
    gap: 6px;
    flex-wrap: nowrap;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
  }

  .swiper-slide {
    all: unset;
    flex: 0 0 32%;
    display: flex;
    justify-content: center;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
  }

  .swiper-pagination {
    display: none !important;
  }

  h3 {
    font-size: 1.1rem;
  }

  .item-status {
    width: 75px;
    padding: 5px;
  }
}

/* PC用スタイル */
@media (min-width: 1025px) {

  .swiper-container {
    all: unset;
  }

  .swiper-wrapper {
    display: flex;
    gap: 2px;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .swiper-slide {
    all: unset;
    flex: 0 0 32%;
    display: flex;
    justify-content: center;
  }

  .swiper-slide img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .swiper-pagination {
    display: none !important;
  }
}