.items-list {
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 80vh;
}

.search-form {
  position: fixed;
}

.item-box {
  width: 50%;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-gallery {
  flex-shrink: 0;
  display: flex;
  gap: 10px; 
}

.image-gallery img {
  border-radius: 4px; 
}

.item-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 8px;
  color: #555;
}

p {
  margin: 4px 0;
}

.item-box p {
  color: #555;
}

.item-box p:last-of-type {
  margin-bottom: 0;
}

.item-status {
  width: 80px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

.used-status {
  color: white;
  background-color: #FF6347;
}

.unused-status {
  color: white;
  background-color: #50c878;
}


@media (max-width: 600px) {

  .items-list {
    padding: 10px;
  }

  .search-form {
    position: static;
  }

  .item-box {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }

  .image-gallery {
    flex-wrap: wrap;
    gap: 5px;
  }

  .image-gallery img {
    width: 100%;
    height: auto;
  }

  .item-details {
    width: 100%;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }

  .item-status {
    width: 70px;
    padding: 4px;
  }
}


/* タブレット用スタイル */
@media (min-width: 601px) and (max-width: 1024px) {
.items-list {
  padding: 20px;
}

.search-form {
  position: static;
}

.item-box {
  width: 80%;
  margin-bottom: 20px;
  padding: 15px;
}

.image-gallery {
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
  justify-content: center;
}

.image-gallery img {
  width: 80%;
  height: auto;
}

.item-details {
  width: 100%;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

.item-status {
  width: 80px;
  padding: 6px;
}
}