.item-details-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.item-boxes {
  width: 100%;
  max-width: 800px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-image-gallery {
  display: flex;
  gap: 10px; 
  margin-bottom: 20px;
  flex-wrap: wrap; 
  justify-content: center;
}

.item-image-gallery img {
  border-radius: 4px; 
  width: auto;
  height: 200px;
}

.item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-info p {
  margin: 4px 0;
}

.item-info p:last-of-type {
  margin-bottom: 0;
}

/* ボタンを真ん中に */
.back-button-container {
  display: flex;
  justify-content: center;
}

/* 戻るボタンの要素 */
.return_btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1.0em;
  transition: 0.4s ease;
  filter: invert(39%) sepia(26%) saturate(464%) hue-rotate(164deg) brightness(93%) contrast(90%);
}

.return_btn:hover {
  transform: scale(1.3);
}

/* カーソルを重ねる要素 */
.return_target {
  position: relative;
  cursor: pointer;
}

/* ツールチップのテキスト */
.return_text {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  display: inline-block;
  padding: 5px;
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 1.3;
  background: #4682b4;
  color: #fff;
  border-radius: 3px;
  transition: 0.3s ease-in;
}

/* ホバー時にツールチップの非表示を解除 */
.return_target:hover .return_text {
  opacity: 1;
  visibility: visible;
}

/* 画面幅が小さいデバイス向け */
@media (max-width: 600px) {
  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
  
  .item-image-gallery img {
    height: 150px;
  }
}